<p><%= link_to 'Upload New Astro Image', new_astro_image_path %></p>

<p>Images of Astrology from our Users</p>
<% @astro_images.each do |image| %>
  <div class="astro-image">
    <%= link_to astro_image_path(image.image) do %>
      <%= image_tag image.image, alt: image.title, loading: "lazy" %>
      <p><strong><%= image.title %></strong></p>
      <p><%= image.description %></p>
  </div>
  <% end %>
<% end %>
