<%= simple_form_for @astro_image do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %>

  <%= f.label :description %>
  <%= f.text_area :description %>
  <% if @astro_image.errors[:description].any? %>
    <p class="error-message"><%= @astro_image.errors.full_messages_for(:description).first %></p>
  <% end %>

  <%= f.label :image %>
  <%= f.file_field :image %>

  <%= f.submit 'Upload Image' %>
<% end %>
